.footer {
    width: 100%;
    height: auto;background: rgb(145,63,251);
    background: radial-gradient(circle, rgba(145,63,251,0.9836309523809523) 0%, rgba(241,70,252,1) 100%);
    color: #fff;
    padding: 20px;
    text-align: center;
  
}

.footer_item span {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.footer_item .a {
    margin: 0 10px;
    color: black;
    text-decoration: none;
    font-size: 18px;
}

.nav_content{
    display: flex;
    flex-direction: column;
}
.nav_content a{
    margin: 10px;
    font-family: "Arvo", serif;
}



.footer_up{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.footer_logo {
    margin-top: 20px;
    display: flex; 
    justify-content: center;
    align-items: center;

}

.logo_container {
    display: flex;
    align-items: center;
}

.logo {
    width: 180px;
    margin-right: 10px;
}

.logo_text {
    font-size: 13px;
}

.footer_icons {
    margin-top: 20px;
}

.footer_icon {
    margin: 0 5px;
    font-size: 24px;
    color: black;
}

.footer_qr {
    margin-top: 20px;
}

.footer_hr {
    margin-top: 20px;
}

.footer_txt {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
}

.footer_txt1, .footer_txt2 {
    margin: 0 10px;
    color: black;
}

.footer_text {
    flex-grow: 1;
    color: black; 
    margin-right: 400px;
}



.link:hover {
    color: #fff;
  }

  .link {
    transition: 0.2s;
    text-decoration: none; 
    color: black; 
    font-family: 'Arial', sans-serif; 
    font-size: 18px; 
  }
